@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    text-align: center;
    justify-content: center;
    background-image: url(https://free4kwallpapers.com/uploads/originals/2015/09/16/weather-live-wallpaper-icon.jpg);
    background-color: rgb(75, 99, 135);
    background-repeat: no-repeat;
    background-position: sticky;
}