@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    text-align: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(125, 189, 189), rgb(115, 188, 212));
    background-position: sticky;
}

table, td{
    border: 1;
    border-color: white;
}

.tableHeads {
    font-size: large;
}